
<% if (!user) { %>
	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    
   <!-- The video -->
<video autoplay muted loop id="myVideo">
	<source src="img/vid.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
	<h1>Ecosnap</h1>

  <a class="btn btn-primary" href="/login/snapchat" role="button">Log in with Snapchat</a>

  </div>


</body>
</html>
<% } else { %>
	<%- include('./profile.ejs') %>
<% } %>
